<div class="container-fluid">
<div class="row">
    <div class="col-md-2 text-center" ><h1><span style="color:#AAA" >W</span> S T O</h1></div>
    <div class="col-md-10 text-right" style="padding-top:25px">Welcome <b><%= user.shortEmail %>...</b> 
    </div>   
</div>
<div class="alert alert-danger text-center alert-dismissible" style="display:none" id="divMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
