<%- include('head') %>
<%- include('header') %>    
<%- include('left_nav') %>

<div class="col-md-10" style="padding-top:20px">
    <h1>KYC List</h1>
    
    <br>
    <br>
    
    <table class="table">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>View KYC</th>
            
        </tr>

        <% kyc.forEach(function(data){ %>
            <tr>
                <td><%= data.email %></td>
                <td><%= data.first_name %></td>
                <td><%= data.last_name %></td>
                <td><%= data.gender %></td>
                <td><a href="/kyc/<%= data.kyc_id %>">view KYC</a></td>
            </tr>
        <% }) %>

    </table>

</div>


<%- include('footer') %>
