<%- include('head') %>
<div class="row" style="background-color:#EEE; border-bottom: solid 1px #CCC">
    <div class="col-md-2 text-center"><h1>STO</h1></div>
    <div class="col-md-10 text-right"></div>
</div>
<div class="container-fluid">
    <% if (msg) { %>
      <div class="alert alert-success alert-dismissible text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <b><%= msg %></b>
      </div>
    <% } %>  
    <div class="row">
        <%- include('left_nav') %>

        <div class="col-md-5">
            <br>
            <h2>Login</h2>
            <form method="post" class="form-horizontal" action="/login">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="password">Password:</label>
                  <div class="col-sm-10"> 
                    <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                  </div>
                </div>
                <div class="form-group"> 
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
            </form>
        </div>
        <!--
        <div class="col-md-5">
                <br>

                

                <h2>Sign Up</h2>
                <form method="post" class="form-horizontal" action="/signup">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="password">Password:</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="password">Referral:</label>
                      <div class="col-sm-10"> 
                        <input type="text" class="form-control" name="referral" placeholder="Enter referral (Optional)" value= "<%= referral %>">
                      </div>
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
        </div>
        -->
    </div>
</div>
<%- include('footer') %>